.body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #000000;
}

.hero {
    background-image: url(bg1.jpg);
    width: auto;
    height: auto;
    display: block;
    background-position-x: center;
    background-position-y: 30%;
    size-adjust: 200px;
    background-size: auto;
    min-height: 200px;
    text-align: center;
    color: white;
}

h1, h4, a, li {
    color: #76dde9;
}

.container {
    color: #76dde9;
}

.foto {
    background-image: url(profile.jpg);
    background-size: 400px;
    background-position-x: center;
    background-position-y: 580px;
    width: 300px;
    height: 300px;
    border-top: 500px;
    margin: 20px auto;
    border-radius: 50%;
    overflow: hidden;
}

.badge {
    padding: 10px 15px;
    font-size: 1rem;
}

.card-title {
    font-weight: bold;
    align-self: center;
}

footer {
    background: #212529;
    color: #76dde9;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}
